@tailwind base;
@tailwind components;
@tailwind utilities;

/* .hero-image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 2.44 / 1;
  overflow: hidden;
} */

/* .hero-image {
  position: absolute;
  width: 100%;
  aspect-ratio: 2.71 / 1;
  transform-origin: top;
  transform: scale(110.5%);
} */
